# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore idea folder
.idea

# Ignore image folder
documentation

# Ignore iml file
CLI.iml

### Java ##
*.class

# Package Files #
*.jar
# Avoid ignoring lib jar files
!lib/*.jar
*.war
*.ear

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Ignore out folder
out

# Ignore .txt extensions
.txt

/assets/data

README.md

/src/main/java/com/github/wnebyte/minecraft/ui/MyGuiLayer.java
/src/main/java/com/github/wnebyte/minecraft/ui/WidgetState.java
/src/main/java/com/github/wnebyte/minecraft/ui/Window.java

assets/images/generated/blockItems
assets/images/generated/packedBlockItemTextures.png