# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore idea folder
.idea

# Ignore image folder
documentation

# Ignore iml file
CLI.iml

### Java ##
*.class

# Package Files #
*.jar
# Avoid ignoring lib jar files
!lib/*.jar
*.war
*.ear

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Ignore out folder
out

# Ignore .txt extensions
.txt